.header-container {
    width: 100%;
    height: 100vh; /* luôn full màn hình */
    background-image: url('../../../public/images/hero/cn0ds11lgea31.jpg'); /* Đường dẫn ảnh nền */
    background-size: cover;       /* Auto crop theo màn hình, không méo ảnh */
    background-position: center;  /* Căn giữa */
    background-repeat: no-repeat; /* Không lặp ảnh */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Content overlay */
.header-content {
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.45); !* overlay mờ *!*/
    padding: 20px 40px;
    border-radius: 12px;
}

.header-title {
    font-size: 48px;
    font-weight: 700;
}

.header-subtitle {
    margin-top: 10px;
    font-size: 22px;
    opacity: 0.85;
}
/* Logo góc top-left */
.header-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Great Vibes, cursive;
    font-size:3rem; /* tăng size */
    font-weight: 900;
    background: linear-gradient(45deg, #6C73CD, #9DA65D, #F2F2F2, #8C8C88);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    cursor: default;
    /* animation gradient chạy liên tục */
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
